{% extends "base.html" %}

{% block content %}

{% comment	 %}

{%if form.errors %}
<p>You're username and password didn't match! Please try again.</p>
{% endif %}



        <form method="post" action="."  data-ajax="false">
        {% csrf_token %}
        <div data-role="fieldcontain">
           <label for="id_username" class="select">Username:</label>
           <select name="select-choice-1" id="select-choice-1">
              {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
			  {% endfor %}
           </select>
        </div>
		
	
            <p>
                <label for="id_password">Password:</label>
                {{ form.password }}
            </p>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="/timesheet/" />
            {% endif %}
            <input type="submit" value="login" />
        </form>
		



<a href="/register/" data-role="button" data-transition="slidedown">新しいアカウントを作成</a>

{% endcomment %}

{% for user in users %}
<p>{{ user.username }}</p>
{% endfor %}



{% endblock %}