{% extends "timesheetapp/timesheet_base.html" %}


{% block content2 %}

{% comment %}

to do:
-add a form here for changing user account info
-preload it with existing info
-add submit and cancel buttons

{% endcomment %}

<form method="post" action="."  data-ajax="false">
	{% csrf_token %}
	
	<div data-role="fieldcontain">
		<label for="username">username:</label>
		<input type="text" name="username" id="username" value="{{ user.username }}" />
	</div>
	
	<div data-role="fieldcontain">
		<label for="password">New Password:</label>
		<input type="password" name="password" id="password" value="" />
	</div>
	
	<div data-role="fieldcontain">
		<label for="password1">Confirm new password:</label>
		<input type="password" name="password1" id="password1" value="" />
	</div>
	
	<div data-role="fieldcontain">
		<label for="first_name">First Name:</label>
		<input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" />
	</div>
	
	<div data-role="fieldcontain">
		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name" id="last_name" value="{{ user.last_name }}" />
	</div>
	
	<div data-role="fieldcontain">
		<label for="email">Email:</label>
		<input type="text" name="email" id="email" value="{{ user.email }}" />
	</div>
	
	
	
	
	<input type="submit" value="送信" data-inline="true" />
	<a href="/timesheet/" data-role="button" data-transition="pop" data-inline="true">キャンセル</a>
</form>



{% endblock %}